h1 {
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
}

div.header {
    margin-bottom: 2em;
}


div.header-button {
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
    font-size: 1.1rem;
    text-transform: lowercase;
    color: #222222;
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    -o-transition: color .2s ease-out;
    transition: color .2s ease-out;
}

div.header-button:hover {
    color: #8E4137;
}

div.center-aligned {
    text-align: center;
}
